.form-login
{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.div-login {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px
}